* {
    box-sizing: border-box;
}

:root {
    --sketchpad-height: 16;
    --sketchpad-height-min-dim: 20rem;
    --sketchpad-height-dim: 80vmin;
    --sketchpad-background-color: rgb(255, 255, 255);
    --sketchpad-outer-border: 0.12rem solid rgb(119, 119, 119);
    --sketchpad-inner-border: 0.06rem solid rgb(240, 240, 240);
    --sketchpad-hover-color-active: rgb(150, 250, 150);
    --sketchpad-hover-color-inactive: rgb(150, 150, 150);
    --sketchpad-hover-color: var(--sketchpad-hover-color-inactive);
    --sketchpad-hover: 0.1rem solid var(--sketchpad-hover-color);
    --button-background-color: rgb(232, 232, 232);
    --button-background-color-active: rgb(210, 210, 210);
    --button-background-color-hover: rgb(220, 220, 220);
    --button-light-color-inactive: rgb(210, 210, 210);
    --button-light-color-active: rgb(60, 216, 120);
    --font-base-color: rgb(80, 80, 80);
    --font-hover-color: rgb(10, 10, 10);
}

body {
    font-family: "Segoe UI", sans-serif;
    font-size: 100%;
    color: var(--font-base-color);
    background-color: rgb(245, 245, 245);
}

main {
    display: grid;
    grid-template-rows: auto 
                        auto 
                        minmax(calc(0.04*var(--sketchpad-height-min-dim)), calc(0.04*var(--sketchpad-height-dim))) 
                        minmax(var(--sketchpad-height-min-dim), var(--sketchpad-height-dim)) 
                        auto 
                        auto;
    justify-items: center;
}

.button {
    margin: 0.5rem 3vw 0.5rem 0;
    height: 2rem;
    width: 6.5rem;
    padding-left: 0.75rem;
    position: relative;
    background-color: var(--button-background-color);
    border: none;
    border-radius: 0;
    cursor: pointer;
    font-size: 0.9rem;
    color: var(--font-base-color);
    box-shadow: 0 0.08rem 0.15rem 0 rgb(110, 110, 110);
}

.button:not(:focus-visible) {
    outline: none;
}

.button:hover {
    background-color: var(--button-background-color-hover);
    color: var(--font-hover-color);
    transform: scale(1.05);
}

.button:active {
    transform: translateY(0.05rem) scale(1.02);
    box-shadow: 0 0.03rem 0.1rem 0;
    background-color: var(--button-background-color-active);
}

.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0.4rem;
    height: 100%;
    background-size: 100% 200%;
    background-image: linear-gradient(0deg, var(--button-light-color-inactive) 50%, var(--button-light-color-active) 50%);
    transition: background-position 0.5s;
}

.button.unpressed::before {
    background-position: 0 -100%;
}

.button.unpressed:active::before {
    background-position: 0 0;
}

.button.unpressed:hover::before {
    background-position: 0 0;
}

#display-title {
    cursor: default;
}

#display-title > h1 {
    font-size: 2.6rem;
    margin: 1rem;
    transition: all .7s;
}

#display-title > h1:hover {
    transform: scale(1.1);
    color: var(--font-hover-color);
    transition: all .7s;
}

#display-title > h1::before, #display-title > h1::after {
    content: "//";
    padding: 0 1rem;
    font-size: 2.2rem;
    display: inline-block;
    transform: translateY(-0.2rem);
    transition: all .7s;
}

#display-title > h1:hover::before {
    transform: scale(0.9091) translateY(-0.6rem);
    color: var(--button-light-color-active);
    transition: all .7s;
}

#display-title > h1:hover::after {
    transform: scale(0.9091) translateY(0.2rem);
    color: var(--button-light-color-active);
    transition: all .7s;
}

#current-color {
    min-width: calc(0.8*var(--sketchpad-height-min-dim));
    width: calc(0.8*var(--sketchpad-height-dim));
    border: var(--sketchpad-outer-border);
    border-bottom: 0;
}

#current-color::before {
    content: "";
    display: inline-block;
    width: 50%;
    height: 100%;
    transform: translateX(100%);
    background-color: black;
    opacity: 0;
    transition: opacity 0.5s;
}

#current-color.darken::before {
    opacity: 0.5;
}

#sketchpad {
    display: grid;
    min-width: var(--sketchpad-height-min-dim);
    width: var(--sketchpad-height-dim);
    grid-template-columns: repeat(var(--sketchpad-height), 1fr);
    grid-template-rows: repeat(var(--sketchpad-height), 1fr);
    border: var(--sketchpad-outer-border);
    background-color: var(--sketchpad-background-color);
}

.sketchpad-cell {
    border: var(--sketchpad-inner-border);
}

.sketchpad-cell.no-border {
    border: none;
}

.sketchpad-cell:hover, .sketchpad-cell.no-border:hover {
    border: var(--sketchpad-hover);
    transform: scale(1.1);
}

#color-selector {
    margin: 0 1vw 0 0;
    height: 2rem;
    width: 2rem;
    border: none;
    border-radius: 0;
    cursor: pointer;
    background-color: var(--button-background-color);
    box-shadow: 0 0.08rem 0.15rem 0 rgb(110, 110, 110);
}

#color-selector::-webkit-color-swatch {
    border: none;
}

#color-selector:not(:focus-visible) {
    outline: none;
}

#color-selector:active {
    transform: translateY(0.05rem) scale(1.02);
    box-shadow: 0 0.03rem 0.1rem 0;
    background-color: var(--button-background-color-active);
}

#color-selector:hover {
    background-color: var(--button-background-color-hover);
    transform: scale(1.05);
}

#color-buttons {
    display: flex;
    align-items: center;
}

#eraser-button, #clear-button {
    margin-right: 0;
}